<div class="field-card">

    <div class="logo-container">
        <img src="../../../assets/imgs/{{logoName}}" class="logo" alt="" (click)="goToField()">
    </div>

    <div class="spacer-vertical left">
        <div class="mask"></div>
    </div>

    <div class="content-container">
        <div class="header-container" (click)="goToField()">
            <h3>{{ field.name }}</h3>
        </div>
        <div class="description-container" (click)="goToField()">
            <p>
                {{ field.description | limitTo: 250 }}
            </p>
        </div>
        <div class="links-container" *ngIf="field.specializations.length > 0">
            <h5>Specjalizacje</h5>
            <div class="link-wrapper" *ngFor="let spec of field.specializations">
                <a [routerLink]="['/specializations/', getFieldLink(spec.name)]">{{ spec.name }}</a>
            </div>
        </div>
    </div>

</div>