<div class="header-container">
    <header>
        <div class="logo">
            <img src="../../assets/imgs/logo.png" width="150px">
        </div>

        <nav>
            <div class="nav-button">
                <a routerLink="home" routerLinkActive="active">Home</a>
            </div>

            <div class="nav-button">
                <a routerLink="admissions" routerLinkActive="active">Rekrutacja</a>
            </div>

            <div class="nav-button">
                <a routerLink="fields" routerLinkActive="active">Kierunki</a>
            </div>

            <div class="nav-button">
                <a routerLink="#">Wydziały</a>
                
                <div class="outer-div">
                    <div class="nav-dropdown">
                        <div class="nav-dropdown-tile">
                            <img src="../../assets/imgs/issi.png" alt="" srcset="" height="90px">
                            <h5>Instytut Sterowania i Systemów Informatycznych</h5>
                        </div>

                        <div class="nav-dropdown-tile">
                            <img src="../../assets/imgs/iee.png" alt="" srcset="" height="90px">
                            <h5>Instytut Automatyki, Elektroniki i Elektrotechniki</h5>
                        </div>

                        <div class="nav-dropdown-tile">
                            <img src="../../assets/imgs/imei.png" alt="" srcset="" height="90px">
                            <h5>Instytut Metrologii, Elektroniki i Informatyki</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-button">
                <fa-icon class="user-icon" [icon]="faUser"></fa-icon>

                <div class="user-outer-div">
                    <div class="user-option-dropdown">
                        <div class="user-option">
                            <a routerLink="/registration">Rejestracja</a>
                        </div>

                        <div class="user-option">
                            <a routerLink="/login">Zaloguj</a>
                        </div>

                        <div class="user-option">
                            <a href="#">Wyloguj</a>
                        </div>

                        <div class="user-option">
                            <a href="#">Profil</a>
                        </div>

                        <div class="user-option">
                            <a href="#">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </nav>
    </header>
</div>