<div class="footer-container">
    <footer>
        <div class="row">
            <div class="md-col-3 part">
                <h5 class="footer-header"> Address </h5>
                <p>
                    ( UZ ) University of Zielona Gora <br>
                    ul. Prof. Z. Szafrana 2 <br>
                    65 – 516 Zielona Góra <br>
                </p>
            </div>
            <div class="md-col-3 part">
                <h5 class="footer-header"> Get In Touch </h5>
                <p style="margin-bottom: 0px;">
                    <fa-icon [icon]="faEnvelope" style="padding-right: 10px;"></fa-icon>
                    555 852 963
                </p>
                <p>
                    <fa-icon [icon]="faMobile" style="padding-right: 10px;"></fa-icon>
                    dziekanatwiea​.uz​.zgora​.pl
                </p>

                
            </div>
            <div class="md-col-3 part">
                <h5 class="footer-header"> Opening Hours </h5>
                <p>
                    Monday - Friday <br>
                    09:00 - 13:00
                </p>
            </div>
        </div>

    </footer>
</div>


