.footer-container {
    margin-top: 40px;
    background-color:  rgba(102,102,102);
    width: 100%;

    position: absolute;
    bottom: 0;
}

footer {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.part {
    color: white;
}

.row {
    justify-content: space-around;
}

.footer-header {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 100, 148, 0.9);
    margin: 10px 0;
}