<div class="navigation-bar">

    <header>
        <div class="vertical-separator"></div>
        <div class="navigation-button">
            <a routerLink="/home"> Stona Główna </a>
        </div>

        <div class="vertical-separator"></div>

        <div class="navigation-button">
            <a routerLink="/admissions"> Rekrutacje </a>
        </div>

        <div class="vertical-separator"></div>
        
        <div class="navigation-button">
            <a routerLink="/fields"> Kierunki </a>
        </div>
        
        <div class="vertical-separator"></div>
        
        <div class="navigation-button">
            <a [routerLink]="" (click)="logout()"> Wyloguj </a>
        </div>
        <div class="vertical-separator"></div>
    </header>
</div>