.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    background: #fff;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.title-wrapper {
    margin-left: 50px;
}

.title-wrapper h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;	
    text-shadow: 3px 2px 2px rgba(150, 150, 150, 0.64);
}

.amount-wrapper {
    margin-right: 100px;
}

.amount-wrapper span {
    background: #4c8c9e;
    color: #f1f1f1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px 7px;
}

.amount-wrapper h4 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}