form {
    display: flex;
    flex-direction: column;
}

.registration-box {
    width: 26%;
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.registration-box .user-box {
    position: relative;
    margin: 0 auto;
}

.registration-box h2 {
    margin: 0 auto;
    margin-bottom: 40px;
    letter-spacing: 0.1rem;
    padding: 0;
    color: rgb(76, 140, 158);
    text-align: center;
}

.registration-box button {
    width: 420px;
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #4C8C9E 0%,#305863 100%); 
    font-weight: 450;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.registration-box .user-box input {
    width: 420px;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 1rem;
    color: #222;
    margin-bottom: 35px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: .2s;
    outline: 0;
}

.registration-box .user-box input:focus {
    border-color: rgb(76, 140, 158);
}

.registration-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .4);
    pointer-events: none;
    transition: .5s;
}

.registration-box .user-box input:focus ~ label,
.registration-box .user-box input:valid ~ label {
  top: -40px;
  left: 0;
  padding-left: 5px;
  color: rgb(76, 140, 158);
  font-size: 1.2rem;
}

.header-separator {
    display: flex;
    margin-top: 50px;
}

.separator {
    margin: auto 0;
    border-bottom: 3px solid rgb(76, 140, 158);
}

.separator-text {
    width: 8%;
    text-align: center;
    padding: 0 5px;
    font-size: 1.5rem;
    color: #222222;
    font-weight: 800;
}

.separator-left {
    width: 28%;
}

.separator-right {
    width: 64%;
}

.container .row:last-child{
    padding-bottom: 200px;
}

.errors {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    color: #721c24;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #f8d7da;
}

.is-invalid {
    border-color: #f8d7da !important;
}