<div class="page-container">

    <div class="header-separator">
        <div class="separator separator-left"></div>
        <div class="separator-text">Profil</div>
        <div class="separator separator-right"></div>
    </div>

    <div class="registration-box">
    
        <h2>Zmiana hasła</h2>
    
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    
            <div class="user-box">
                <input type="password" name="password" id="password" [formControlName]="'password'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <label>Hasło</label>
            </div>

            <div class="user-box">
                <input type="password" name="passwordConfirm" id="passwordConfirm" [formControlName]="'passwordConfirm'" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" required>
                <label>Potwierdź</label>
            </div>
    
            <div class="errors" *ngIf="!f.password.valid && f.password.touched">
                Hasło musi zwierać minimum 8 znaków. <br />Jedną duża, małą literę i jedną liczbę!
            </div>

            <div class="errors" *ngIf="f.passwordConfirm.errors.mustMatch && f.passwordConfirm.touched">
                Hasła się nie zgadzają!
            </div>

            <div class="user-box">
                <button class="login-button">Zapisz</button>
            </div>
    
        </form>
    </div>
</div>