<div class="page-container">

    <div class="form-card">

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <div class="form-field-control">
                    <h5 class="field-label">Nowe hasło</h5>
                    <input type="password" name="password" id="password" placeholder="Hasło" [formControlName]="'password'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                </div>
            </div>
            
            <div class="form-group">
                <div class="form-field-control">
                    <h5 class="field-label">Potwierdzenie hasła</h5>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Potwierdź" [formControlName]="'passwordConfirm'" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }">
                </div>
            </div>
            
            <div class="errors" *ngIf="!f.password.valid && f.password.touched">
                Hasło musi zwierać minimum 8 znaków. <br />Jedną duża, małą literę i jedną liczbę!
            </div>

            <div class="errors" *ngIf="f.passwordConfirm.errors.mustMatch && f.passwordConfirm.touched">
                Hasła się nie zgadzają!
            </div>

            <div class="form-button-row">
                <button class="btn btn-add">Zapisz</button>
            </div>

        </form>

    </div>

</div>