<div class="building-slider-container">
    <owl-carousel-o [options]="buildingSliderOptions">
        <ng-container *ngFor="let building of buildingSliders">
            <ng-template carouselSlide [id]="building.id">
                <img [src]="building.src" [alt]="building.alt" [title]="building.title" class="building-img">
                <div class="carousel-jumbotron" [ngClass]="building.class">
                    <h3>Witamy</h3>
                    <p>
                        Uniwersytet Zielonogórski, najlepsze miejsce do nauki.
                    </p>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>

<div class="info-card-container  blur-background">
    <div class="size-block">
        <div class="info-card-container-header">
            <h2>Dlaczego warto nas wybrać</h2>
        </div>
        
        <owl-carousel-o [options]="infoCardsOptions">
            <ng-container *ngFor="let card of infoCards;let id=index;">
                <ng-template carouselSlide [id]="id">
                    <div class="info-card">
                        <div class="info-card-header">
                            <div class="info-card-count" [style.background-image]="card.gradient">{{ id+1 }}</div>
                        </div>
                
                        <div class="info-card-content">
                            <h3>{{ card.title }}</h3>
                            {{ card.description }}
                        </div>
                
                        <div class="info-card-footer" [style.background-image]="card.gradient">
                            {{ card.footer }}
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div> 
</div>

<div class="stats-divider">
    
        <div class="size-block">
            <div class="row">
                <div class="col-md-4 stats-info">
                    <h1><i>106</i></h1>
                    <h2><i>Certyfikowanych wykładowców</i></h2>
                </div>
                <div class="col-md-4 stats-info">
                    <h1><i>3</i></h1>
                    <h2><i>Instytuty</i></h2>
                </div>
                <div class="col-md-4 stats-info">
                    <h1><i>7</i></h1>
                    <h2><i>Najlępszy Universytet w Polsce</i></h2>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12 center-div">
                    <div class="inner-div">
                        <h2>Wybierz swoją przyszłość</h2>
                        <button class="apply-button" (click)="goToAdmissions()">
                            Aplikuj Teraz
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="divider">
</div>
