<div class="page-container">

    <div class="page-title">
        <app-dashboard-page-header [title]="'Rekrutacje'" [amount]="'12'"></app-dashboard-page-header>
    </div>

    <div class="page-content">

        <div class="table-container">

          <ul class="responsive-table">
            <li class="table-header">
              <div class="col name-col">Field</div>
              <div class="col name-col">Faculty</div>
              <div class="col date-col">Start Date</div>
              <div class="col date-col">End Date</div>
            </li>
            <li class="table-row" *ngFor="let admission of admissions" (click)="rowClicked(admission.id)" [class.active]="admission.id === selectedId">
              <div class="col name-col" >{{ admission.field }}</div>
              <div class="col name-col" >{{ admission.faculty }}</div>
              <div class="col date-col" >{{ admission.startDate | date:'mediumDate' }}</div>
              <div class="col date-col" >{{ admission.endDate | date:'mediumDate' }}</div>
            </li>
          </ul>
        </div>
        
        <div class="option-sidebar">

          <div class="option">
            <button class="btn btn-view btn-sep icon-info" [disabled]="!selected">Podgląd</button>
          </div>

          <div class="option">
            <button class="btn btn-add btn-sep icon-plus" routerLink="new">Dodaj</button>
          </div>
          
          <div class="option">
            <button class="btn btn-edit btn-sep icon-edit" [disabled]="!selected" (click)="editAdmission()">Edytuj</button>
          </div>
          
          <div class="option">
            <button class="btn btn-delete btn-sep icon-trash" [disabled]="!selected" (click)="deleteAdmission()">Usuń</button>
          </div>
          
        </div>

    </div>

</div>